<mat-toolbar class="bg-dark color-light header">
  <span><a routerLink="/" class="nav-link color-light">BoardGames</a></span>
  <span class="example-spacer"></span>

  <a mat-button class="header-button">
    <mat-icon class="header-icon">shopping_cart</mat-icon>
  </a>

  <a mat-button [matMenuTriggerFor]="menu" #menuTrigger class="header-button">
    <mat-icon class="header-icon">person</mat-icon>
  </a>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openDialog()">Log in</button>
  </mat-menu>
</mat-toolbar>