.wrapper {
  display: flex;
  flex-direction: column;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.total {
  border: 3px double #FB6200;
  border-radius: 4px;
  padding: 15px 20px;
}

.game-image {
  width: 40px;
  height: 40px;
}

.game-image-wrapper {
  margin-right: 5px;
}

.game-name {
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
}

.game-price {
  width: 30%;
  text-align: right;
}
.order-button {
  text-align: end;
  margin-top: 20px;
}

.ul-games {
  padding-inline-start: 0px;
}

.li-game {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 4px;
  background-color: white;
  padding: 5px 10px;
  width: 100;
}

.game-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}