<div class="filter-form">
  <mat-form-field class="chip-list">
    <mat-chip-list #chipList>
      <mat-chip
        *ngFor="let category of categories"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(category)">
        {{category.name}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="Search category..."
        #categorySearchInput
        [formControl]="categoryCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
        {{category.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>  
  <a mat-button class="search-btn">
    <mat-icon>search</mat-icon>
  </a>
</div>
